@media screen and (min-width: 386px) and (max-width: 600px) {
    body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.deck {
    width: 90%;
}

.deck .card {
    width: 16vw;
    height: 20vw;
}

.modal_body {
    width: 80%;
}
}
