@media screen and (max-width: 385px) {
    body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.deck {
    width: 90%;
    height: 80%;
}

.deck .card {
    width: 15vw;
    height: 30vw;
}

.modal_body {
    width: 80%;
}
}
